<head>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <h1>Biography</h1>
    <div id="header">
        <a href="home">Bio</a> <a href="project">Projects</a> <a href="contact">Contact</a>
    </div>
    <p><h2>About Me</h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet nunc sed 
        lacus venenatis sodales. Maecenas faucibus, augue eget hendrerit iaculis, sem massa 
        auctor nisi, vitae posuere orci urna in ex. Curabitur ac condimentum lacus. 
        Maecenas a sodales nibh. Cras laoreet interdum metus, ut porta nibh euismod sed. 
        Maecenas accumsan, ligula non ullamcorper euismod, nisl eros rutrum orci, 
        vel sodales elit ante laoreet lectus. Quisque fermentum nisl dui, sed sodales elit 
        convallis non. Pellentesque quis nisl lobortis, aliquam ipsum sed, sagittis ante.
        <br><br> <img src="~/images/LucaMisha.jpeg" alt="Luca and Misha" width="350px"/>
        Etiam luctus tortor congue sapien tempor, non posuere sem tincidunt. Fusce dictum 
        ultrices ligula vel varius. Orci varius natoque penatibus et magnis dis parturient 
        montes, nascetur ridiculus mus. Suspendisse condimentum interdum consectetur. 
        Nunc blandit tempus dui, pharetra aliquam orci commodo at. Cras non fringilla nulla. 
    </p>






</body>